<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

    <!-- Servlets -->
    <servlet>
        <servlet-name>marathonServlet</servlet-name>
        <servlet-class>net.himadri.scmt.server.MarathonServiceImpl</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ChannelConnectedServlet</servlet-name>
        <servlet-class>net.himadri.scmt.server.ChannelConnectedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>net.himadri.scmt.SCMTMarathon UserService</servlet-name>
        <servlet-class>net.himadri.scmt.server.UserServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrePrintedPDFService</servlet-name>
        <servlet-class>net.himadri.scmt.server.PrePrintedPDFService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OklevelPDFService</servlet-name>
        <servlet-class>net.himadri.scmt.server.OklevelPDFService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VersenyzoCSVUploadService</servlet-name>
        <servlet-class>net.himadri.scmt.server.VersenyzoCSVUploadServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OklevelUploadHandler</servlet-name>
        <servlet-class>net.himadri.scmt.server.OklevelUploadHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EntityCollectorServlet</servlet-name>
        <servlet-class>net.himadri.scmt.server.dbcopy.EntityCollectorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EntityFetcherServlet</servlet-name>
        <servlet-class>net.himadri.scmt.server.dbcopy.EntityFetcherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServeEmptyOklevelPdf</servlet-name>
        <servlet-class>net.himadri.scmt.server.ServeEmptyOklevelPdf</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>marathonServlet</servlet-name>
        <url-pattern>/scmtmarathon/marathon</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ChannelConnectedServlet</servlet-name>
        <url-pattern>/_ah/channel/connected/</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ChannelConnectedServlet</servlet-name>
        <url-pattern>/_ah/channel/disconnected/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>net.himadri.scmt.SCMTMarathon UserService</servlet-name>
        <url-pattern>/scmtmarathon/UserService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrePrintedPDFService</servlet-name>
        <url-pattern>/scmtmarathon/PrePrintedPDFService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OklevelPDFService</servlet-name>
        <url-pattern>/public/OklevelPDFService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VersenyzoCSVUploadService</servlet-name>
        <url-pattern>/scmtmarathon/import</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OklevelUploadHandler</servlet-name>
        <url-pattern>/scmtmarathon/OklevelUploadHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EntityCollectorServlet</servlet-name>
        <url-pattern>/scmtmarathon/entities</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EntityFetcherServlet</servlet-name>
        <url-pattern>/scmtmarathon/dbcopy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServeEmptyOklevelPdf</servlet-name>
        <url-pattern>/scmtmarathon/serveemptyoklevelpdf</url-pattern>
    </servlet-mapping>

    <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>admin</web-resource-name>
            <url-pattern>/SCMTMarathon.html</url-pattern>            
            <url-pattern>/scmtmarathon/*</url-pattern>            
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>public</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
    </security-constraint>
</web-app>
